<header class="brand-header">
  <h1 class="content-name">CONTENT COFFEE</h1>
</header>
<nav class="main-nav">
  <ul class="main-ul">
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Home</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Our Coffee</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Our Food</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Are You Content?</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Contact Content</a>
    </li>
  </ul>
</nav>
