<h2 class="biz-plan-heading">Content Coffee’s Vision</h2>
<p class="regular-p">
  Content Coffee will provide a place for people to gather and be content.
  Coffee is a worldwide commodity, and American classic, and coffee shops are
  the hearts of communities. <br /><br />
  Content Coffee will be located in the North End neighborhood of Detroit, a
  neighborhood rich in cultural history and one of the next to become a
  revitalized destination outside of the downtown business district. Content
  Coffee is committed to supporting social initiatives relating to art, science,
  literacy, and justice. 5% of profits will be donated to a charity, which will
  change every six months. <br /><br />
  Coffee shops that have inspired me: Great Lakes Coffee and Red Hook in
  Detroit, Blue Bottle and Alfred in Los Angeles. I have visited countless small
  and large coffee shops and chains from New York to Kalamazoo to Seattle and
  wish to bring the best of those together to create something special for
  residents and visitors to Detroit.
</p>
<p class="regular-p">
  <cite
    >“Food is a productive force that connects society with their present and
    future. Through meals and social games, people create their identity and
    sense of community”
  </cite>
</p>
<p class="regular-p">
  <cite
    >“Coffee shop owners offering pastries and other foods suitable for
    conversation and social comfort may provide an ideal setting for people to
    celebrate with each other”
  </cite>
</p>
<h2 class="biz-plan-heading">The Team</h2>
<p class="regular-p">
  Alana Frank, the owner of Content Coffee L3C, will manage day-to-day
  operations of the coffee shop. Alana has over a decade of experience managing
  bookstores and the cafes within them. <br /><br />Alana will soon hire a CPA
  and lawyer to assist her with further financial decisions.<br /><br />
  Two part-time baristas will be hired one month before opening for training and
  will be paid $15 and hour to train and start, and will be offered volunteer
  time off for the cause of their choice.
</p>
<h2 class="biz-plan-heading">Products and Services</h2>
<p class="regular-p">
  Content Coffee will serve specialty beverages, including handcrafted lattes,
  tea or herbal infusions, and fresh juices. These comforting and refreshing
  choices will be complemented by a sweet and savory selection of in-house made
  pastries. All items sold at Content Coffee will be made with organic
  ingredients, sourced locally when possible. <br /><br />
  Content Coffee will offer drinks made with freshly roasted beans (supplied by
  TBD, in house proprietary roaster planned for future development), house made
  syrups made with fresh, delicious, and local ingredients, and Oatly Oat milk
  (proprietary oat milk production planned for future development).<br /><br />
  There will be indoor seating with outlets and Wi-Fi, with a seasonal patio. In
  addition to selling beverages and snacks, there will also be a curated
  selection of plants, and a revolving pop-up shop area where local vendors can
  sell their wares.<br /><br />
  Content Coffee will be formed as an L3C, and will give patrons an opportunity
  to become members, and in turn will receive a reusable coffee jar, lid and
  coozie, as well as a 5% discount on all their purchases.
</p>

<h2 class="biz-plan-heading">Sample Menu</h2>
<div class="flex-menu">
  <div class="menu regular-p">
    <h3 class="menu-header">Drinks</h3>
    <ul>
      <li class="collapsible-list">
        Espresso
        <p class="hidden">with whole milk or oat milk</p>
        <p class="hidden">with lavender syrup or maple syrup</p>
      </li>
      <li class="collapsible-list">
        Matcha
        <p class="hidden">with whole milk or oat milk</p>
        <p class="hidden">unsweetened or with maple syrup</p>
      </li>
      <li class="collapsible-list">
        Lemonade
        <p class="hidden">plain or with lavender or matcha</p>
      </li>
    </ul>
  </div>
  <div class="menu regular-p">
    <h3 class="menu-header">Eats</h3>
    <ul>
      <li class="collapsible-list">
        Detroitish Muffin
        <p class="hidden">with egg or egg+cheese</p>
      </li>
      <li class="collapsible-list">
        Granola
        <p class="hidden">with berries+yogurt or banana+peanut butter</p>
      </li>
      <li class="collapsible-list">
        Quiche
        <p class="hidden">asparagus+Chevre tomato+mozzarella</p>
      </li>
      <li class="collapsible-list">
        Greens
        <p class="hidden">with fried egg+avocado+carrot or avocado+carrot</p>
      </li>
    </ul>
  </div>
</div>

<h2 class="biz-plan-heading">Financing & Real Estate</h2>
<p class="regular-p">
  We have located a building on Holbrook between I-75 and Oakland Avenue. Alana
  will purchase the building outright for the listed price of $10,000 from the
  Detroit Land Bank. <br /><br />
  It currently looks like this: <br /><br /><img
    src="/assets/oldshop1.png"
    alt="old orange abandoned building on Holbrook, front view"
  />
  <img
    src="/assets/oldshop2.png"
    alt="old orange abandoned building on Holbrook, side view"
  />
  <br /><br />
  With $50,000 and some elbow grease we will work with our hired construction
  team to make it look more like this: <br /><br />
  <img src="/assets/newshop1.png" alt="nice new building, front view" />
  <img src="/assets/newshop2.png" alt="nice new building, side view" />
  <br /><br />
  $50,000 more will be needed for refrigerators, espresso machine, water
  filtration, ovens, sinks, POS, and security features.
</p>
<h2 class="biz-plan-heading">Environmental Analysis</h2>
<p class="regular-p">
  In the geographical area I wish to serve, there are several neighborhoods that
  are ranked as some of the top neighborhoods for urban professionals, including
  New Center and Boston Edison. The North End neighborhood is ripe for a
  revival. <br /><br />
  There are two coffee shops in Hamtramck that offer indoor and outdoor seating,
  Oloman and Café 1923. Oloman is a newcomer in the last couple years, and Café
  1923 has been around for almost 20 years. Oloman has the ambiance, carries
  pastries from a reputable bake house, and their coffee is good, but baristas
  sometimes lack training, and drinks are not consistent. At 1923, the baristas
  are veterans, and manage to make delicious beverages despite using low quality
  beans.<br /><br />
  My geographic target market is the area bounded by I-94 and The Davison, West
  of Conant, and East of the Lodge. This area contains the major arteries of
  traffic in Metropolitan Detroit: Woodward Avenue, I-75, and the aforementioned
  boundaries.<br /><br />
  The nearby North End neighborhood where I plan to locate is rife for a
  revival. In the geographical area I wish to serve, there are several
  neighborhoods that are ranked as some of the top neighborhoods for urban
  professionals, including New Center and Boston Edison. Arden Park, Virginia
  Park, and LaSalle Gardens are three small neighborhoods that would be within
  the closest range of Content Coffee. There is only one very new coffee shop
  nearby, West of the Lodge, but they are also to be an event space (so may have
  inconvenient hours) as well as restaurant and bar (our focus is coffee).
</p>
<h2 class="biz-plan-heading">Marketing Plan</h2>
<p class="regular-p">
  Our two main groups that we are targeting are the young professionals who live
  in the nearby neighborhoods, and commuters from the suburbs heading into
  Detroit.<br /><br />
  Our marketing strategy will utilize the most powerful tool ever invented: the
  Internet. The Content Coffee website will be up and running and full of
  interactive content for potential customers to engage and content themselves
  before our open date. Customers will be able to become members and early
  supporters by purchasing reusable mugs and straws that will allow us to
  discount their beverages by 5% once we open.<br /><br />
  We will use SEO to reach these customers. A billboard near our exit off I-75
  will be rented two months before open. Content Coffee will sell contentedness
  in the form of a delicious latte or refreshing flavored lemonade. Most drinks
  will be priced $3-$5, but there will be select menu items that follow a “Pay
  what you can” premise as our shop will be located in a historically depressed
  and underrepresented community.<br /><br />
  A main focus of Content Coffee is sustainability, specifically targeting
  single-use paper and plastic. Mugs will be used for warm beverages enjoyed on
  site. Glass jars (requiring a $1 deposit or crowd funded membership) will be
  used for to-go, with a recycled coozie for hot drinks. Metal straws will be
  used upon request. There will be an attached greenhouse that will grow
  vegetables and herbs for use in the café, and Content Coffee will also sell
  seeds and potted plants.
</p>
