.business-plan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.biz-plan-heading {
  margin-left: 25px;
}
.regular-p {
  background-color: white;
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.flex-menu {
  display: flex;
  flex-direction: column;
}
.menu-header {
  padding: 10px;
}
@media only screen and (min-width: 600px) {
  .business-plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .regular-p {
    width: 60%;
  }
  .main-ul {
    flex-direction: row;
  }
  .main-ul-li {
    width: 100%;
  }
  .main-ul-a {
    width: 100%;
  }
  .flex-menu {
    flex-direction: row;
    width: 60%;
  }
  .menu {
    flex: 1;
  }
}
