body,
footer,
header,
h1,
h2,
h3,
a,
li,
ul,
footer {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  background-color: ivory;
}
