<header class="brand-header">
  <h1 class="content-name">ALANA FRANK</h1>
</header>
<nav class="main-nav">
  <ul class="main-ul">
    <li class="main-ul-li">
      <a [routerLink]="['/']" fragment="about-me" class="main-ul-a">About Me</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a">Skills</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a">Experience</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a">Education</a>
    </li>
    <li class="main-ul-li">
      <a class="main-ul-a" href="#">Gimme Content</a>
    </li>
  </ul>
</nav>
<h2 class="biz-plan-heading" id="about-me">About Me</h2>
<p class="regular-p">
  While completing an entrepreneurial business course, I felt a desire to create
  an interactive business plan. This motivated me to start researching and
  learning on my own, then apply to Grand Circus Front-End Bootcamp to dive all
  the way in.
</p>
<p class="regular-p">
  My experience in bookstores has taught me about working with a wide variety of
  people who are focused on a broad range of topics, which I believe connects
  easily to working with teams and clients to accomplish a broad range of
  challenges. My goal is to use the technical skills gained at Grand Circus to
  create useful, accessible, and responsively designed tools as a junior
  developer.
</p>
<h2 class="biz-plan-heading" id="skills">Skills</h2>
<div class="flex-menu">
  <div class="menu regular-p">
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Angular</li>
      <li>Node.js</li>
      <li>Git/GitHub</li>
      <li>Typescript</li>
    </ul>
  </div>
  <div class="menu regular-p">
    <ul>
      <li>Javascript</li>
      <li>SQL</li>
      <li>Web APIs</li>
      <li>Agile Development</li>
      <li>TDD</li>
      <li>UI/UX Wireframing</li>
    </ul>
  </div>
</div>
<h2 class="biz-plan-heading">Experience</h2>
<div class="regular-p">
  <p>
    Assistant Store Manager, Barnes & Noble Education <br />June 2018 - August
    2020
  </p>
  <ul>
    <li>
      Responsible for the overall management of an academic superstore on Wayne
      State University campus.
    </li>
    <li>Hired, trained, coached, and scheduled a large and diverse team.</li>
    <li>
      Implemented store-wide communication strategies to improve training and
      customer loyalty.
    </li>
    <li>Fostered a workplace that values fairness and kindness.</li>
  </ul>
</div>
<div class="regular-p">
  <p>
    Merchandise Manager, Café Lead, Bookseller <br />
    October 2006 - June 2018
  </p>
  <ul>
    <li>Trained and coached booksellers and baristas.</li>
    <li>Monitored daily, monthly, and yearly sales goals and inventory.</li>
    <li>
      Used and provided feedback on proprietary applications used in stores
      daily.
    </li>
    <li>
      Held many positions at many stores throughout Michigan, as well as in
      Illinois and Texas.
    </li>
  </ul>
</div>
<h2 class="biz-plan-heading" id="education">Education</h2>
<p class="regular-p">
  Grand Circus Font-End Bootcamp, Detroit, MI Oct 2020 – Dec 2020
</p>
<p class="regular-p">
  Oakland Community College, Royal Oak, MI May 2016 – May 2020
</p>
